In [ ]:
import pandas as pd

In [16]:
stacks = pd.read_fwf('marcos_huerta_stacks.txt',header=None) ## input file manually split

In [17]:
stacks

     0    1    2    3    4    5    6    7    8
0  NaN  [C]  NaN  NaN  [Q]  NaN  NaN  [V]  NaN
1  NaN  [D]  NaN  NaN  [D]  [S]  NaN  [M]  [Z]
2  NaN  [G]  NaN  [P]  [W]  [M]  NaN  [C]  [G]
3  NaN  [F]  NaN  [Z]  [C]  [D]  [P]  [S]  [W]
4  [P]  [L]  NaN  [C]  [V]  [W]  [W]  [H]  [L]
5  [G]  [B]  [V]  [R]  [L]  [N]  [G]  [P]  [F]
6  [R]  [T]  [S]  [S]  [S]  [T]  [D]  [L]  [P]
7  [N]  [J]  [M]  [L]  [P]  [C]  [H]  [Z]  [R]

In [18]:
from collections import deque

In [20]:
myres = {}
for col in stacks.columns:
    myres[col+1] = deque(stacks[col].dropna())

In [22]:
myres[1]

deque(['[P]', '[G]', '[R]', '[N]'])

In [38]:
df = pd.read_csv('marcosh_input_day5.txt',sep=' ',header=None) ## just instructions; input edited with BBEdit
df.columns=['x','quantity','xx','source','xxx','dest']

commands = df.to_dict('records')

In [43]:
for command in commands:
    for i in range(0,command['quantity']):
        package = myres[command['source']].popleft()
        myres[command['dest']].appendleft(package)

In [103]:
''.join([x[0][1] for x in myres.values()])

'VPCDMSLWJ'

In [105]:
df = pd.read_csv('marcosh_input_day5.txt',sep=' ',header=None)
df.columns=['x','quantity','xx','source','xxx','dest']

commands = df.to_dict('records')

myres = {}
for col in stacks.columns:
    myres[col+1] = deque(stacks[col].dropna())

In [106]:
for command in commands:
    packages = []
    for i in range(0,command['quantity']):
        package = myres[command['source']].popleft()
        packages.append(package)
    packages.reverse()
    for p in packages:
        myres[command['dest']].appendleft(p) #append p not package! this bug cost me ~10 min!

In [107]:
''.join([x[0][1] for x in myres.values()])

'TPWCGNCCG'